[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent

# CS1574: XML comment has cref attribute that could not be resolved
dotnet_diagnostic.CS1574.severity = none
